<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="hola"> la escaloneta </div>
    <a ><img src="https://caracoltv.brightspotcdn.com/dims4/default/094d3b5/2147483647/strip/true/crop/640x425+0+0/resize/640x425!/quality/90/?url=https%3A%2F%2Fcaracol-brightspot.s3-us-west-2.amazonaws.com%2Fassets%2Fgol%2Fcristiano_ronaldo_090619_afpe.jpg" alt="Tutorialspoint" style="width:550px;height:400px;"></a>

    
</body>
</html>