<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/layout.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  
  
    <span class="dot"></span>
     

    <form class="form-signin" action="/login" method="POST">
    <div class="contenedor">
      <div class="vidrio"> AVANZO </div>

        <div class="hijo"> CLIENTE</div>
        </div>
      
    
        <div class="contenedorR">
        <button type="submit" class="SON" type="submit">Iniciar sesión</button>
        <i class='bx bx-user'></i>
        </div>
      
         <div class="container">
          <input type="password" class="cont1" name="password" id="password" placeholder="contraseña">
           <i id="cancado"class='bx bx-lock-alt'></i>
           
        </div>
          
        <div class="container2">
          <input  class="cont2" name="username" id="username" placeholder="usuario">
        </div>
      
     
    </form> 




    
</body>
</html>